[submodule "templates/library-checker-problems"]
	path = templates/testing/library-checker-problems
	url = https://github.com/nanoblob-jpeg/library-checker-problems.git
[submodule "templates/oj"]
	path = templates/testing/oj
	url = https://github.com/nanoblob-jpeg/oj.git
